.container{
	width:980px;
	margin:0 auto;
}


h1{
	font-family:aharoni; 
	font-size:30pt;
	color:blue;
	text-align:center;
}

p{
	font-family:calibri; 
	font-size:20pt; 
	color:green; 
	text-align:center;
}

ul.nav {
	margin: 0; /* siljish bo'lmasligi uchun */
	padding: 0;
	background: #f4f4f4;
	text-align: center;
	list-style-type: none; /* oldidagilarni olish uchun */

}

ul.nav li{
	height:52px; /* balandligi */
	line-height: 52px;  /* yozuvni balandlik bn moslab olish uchun */
	margin: 0 25px; /* yozuvlar orasini ochish uchun */
	display : inline-block; /* yonma-yon qilib olish uchun */


}
h4{
	font-size: 50px;
	height: 10px;
}


#rasm{
	margin-top: 30px; /* tepadan pastga tushurib olish uchun */
	float: right; /* o'ngdan qilib olish uchun */
	width:350;
	height:350;
}
ul.interest{
	padding:25px; /* har tomondan kattartirayabti */
}

ul.interest li{
	font-size: 25px; /* yozuvni katta-kichik qilib olish */
	list-style-type:decimal;
}

a{
	text-decoration: none; /*linklarni tagidagi chiqizni yo'q qiladi */
}

.link{
	margin-top: 120px; /* pastga surib oldik */
}

a.movie{
	border-radius: 5px; /* chekkasiga qara */
	padding: 10px 20px; /* katta qilish uchun  */
	background-color: blue;
	font-size: 25px;
	color: white;
	line-height: 55px;
	}

a.movie:hover{
	background-color: white;
	color: blue;
	border: 3px solid blue;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.kino hr{
	margin-top: -20px;  /* teepaga yaqinlashtirish */
	width: 490px;
}

.film-name img{
	margin-left: 260px; /* o'ng tomonga surib olamiz */
	margin-bottom: 10px; /* rasmdan pastga tushadi */
}

.footer{
	text-align: center;
}